@page
@model Impresoras3D.App.Frontend.Pages.RegistrarRevisionModel
@{
    ViewData["Title"] = "Registrar Revision";
}
<div class="text-center">
    <h1>Registrar Revision</h1>
    <h3>@ViewData["Error"]</h3>
    <br>
</div>