@page
@model Impresoras3D.App.Frontend.Pages.RegistrarOperarioModel
@{
}
<div class="text-center">
    <br>
    <h1>Registrar Operario</h1>
    <h3>@ViewData["Error"]</h3>
    <br>
    <br><br>
    <form method="POST">
        <div asp-validation-summary="ModelOnly" class=text-danger></div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Operario.Documento">Documento</label>
                <input asp-for="Operario.Documento" type="number" class="form-control text-center" id="Documento"
                    placeholder="Documento">
                <span asp-validation-for="Operario.Documento" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Operario.FechaNacimiento">Fecha de Nacimiento</label>
                <input asp-for="Operario.FechaNacimiento" type="date" class="form-control text-center" id="FechaNacimiento">
                <span asp-validation-for="Operario.FechaNacimiento" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Operario.telefono">Telefono</label>
                <input asp-for="Operario.telefono" type="number" class="form-control text-center" id="telefono"
                    placeholder="Telefono">
                <span asp-validation-for="Operario.telefono" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Operario.Password">Password</label>
                <input asp-for="Operario.Password" type="password" class="form-control text-center" id="Password"
                    placeholder="Password">
                <span asp-validation-for="Operario.Password" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Operario.PrimerNombre">Primer Nombre</label>
                <input asp-for="Operario.PrimerNombre" type="text" class="form-control text-center" id="PrimerNombre"
                    placeholder="Primer Nombre">
                <span asp-validation-for="Operario.PrimerNombre" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Operario.SegundoNombre">Segundo Nombre</label>
                <input asp-for="Operario.SegundoNombre" type="text" class="form-control text-center" id="SegundoNombre"
                    placeholder="Segundo Nombre">
                <span asp-validation-for="Operario.SegundoNombre" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Operario.PrimerApellido">Primer Appelido</label>
                <input asp-for="Operario.PrimerApellido" type="text" class="form-control text-center" id="PrimerApellido"
                    placeholder="Primer Appelido">
                <span asp-validation-for="Operario.PrimerApellido" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Operario.SegundoApellido">Segundo Appelido</label>
                <input asp-for="Operario.SegundoApellido" type="text" class="form-control text-center" id="SegundoApellido"
                    placeholder="Segundo Appelido">
                <span asp-validation-for="Operario.SegundoApellido" class="text-danger"></span>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>