@page
@model Impresoras3D.App.Frontend.Pages.ConsultarRevisionesImpresoraTecnicoModel
@{
    ViewData["Title"] = "Consultar Revisiones Impresoras Tecnico";
}

<div class="text-center">
    <h1>Revisiones de las Impresoras del Tecnico</h1>
    <h3>@ViewData["Error"]</h3>
    <br>
</div>