@page
@model Impresoras3D.App.Frontend.Pages.ConsultarFechasSeguroModel
@{
    ViewData["Title"] = "Consultar Fechas seguros";
}
<body style="background-color: #D6FDFE">
<div class="text-center">
    <br>
    <h1>Consultar Fechas Seguros</h1>
    <br>
    <h3>@ViewData["Error"]</h3>
    <br><br>
</div>
</body>