@page
@model Impresoras3D.App.Frontend.Pages.ConsultarRevisionesModel
@{
    ViewData["Title"] = "Consultar Revisiones";
}

<div class="text-center">
    <h1>Revisiones</h1>
    <h3>@ViewData["Error"]</h3>
    <br>
</div>