@page
@model Impresoras3D.App.Frontend.Pages.ConsultarSeguroImpresoraModel
@{
    ViewData["Title"] = "Consultar Revisiones Impresoras Operario";
}

<div class="text-center">
    <br>
    <h1>Revisiones de las Impresoras del Operario</h1>
    <br>
    <h3>@ViewData["Error"]</h3>
    <br><br>
</div>