@page
@model Impresoras3D.App.Frontend.Pages.ConsultarSeguroImpresoraModel
@{
    ViewData["Title"] = "Consultar Seguro de la Impresora";
}

<body style="background-color: #D9E7FC">
    <div class="text-center">
        <br>
        <h1>Seguro de la impresora</h1>
        <br>
        <h3>@ViewData["Error"]</h3>
        <br><br>
    </div>
</body>
