@page
@model Impresoras3D.App.Frontend.Pages.LogueoOperarioModel
@{
    ViewData["Title"] = "Operario";
}

<body style="background-color: #D9E7FC">
    <div class="text-center">
        <br>
        <h1>Operario</h1>
        <br>
        <h4>Bienvenido nuevamente</h4>
        <br>
        <div class="row">
            <div class="col-sm-5">
                <div class="card"
                    style="width: 33 %; height:30 %; float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Revision</h5>
                        <p class="card-text">Registrar la informacion correspondiente a la revision de una impresora</p>
                        <a asp-page="../Registros/RegistrarRevision" class="btn btn-primary"
                            style="height:40px; width:100px;">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2 ">
                <div class="card"
                    style="width: 33 %; height:30 %; float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Compra Seguro</h5>
                        <p class="card-text">Registrar la informacion correspondiente a la compra de un seguro de
                            impresora</p>
                        <a asp-page="../Registros/RegistrarCompraSeguro" class="btn btn-primary"
                            style="height:40px; width:100px;">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-page="../Index" class="btn btn-primary"
                style="height:50px; width:200px; position: absolute; top:70%; left:10%">Cerrar sesion</a>
        </div>
    </div>
</body>
