@page
@model Impresoras3D.App.Frontend.Pages.LogueoTecnicoModel
@{
    ViewData["Title"] = "Tecnico";
}

<div class = "text-center">
    <br>
    <h1>Tecnico</h1>
    <br>
    <h4>Bienvenido nuevamente</h4>
    <br>
    <br>
    <div class = "row">        
        <div class = "col-sm-6">
            <div class="card" style="height:30 %;">
                <div class="card-body">
                    <h5 class="card-title">Mis impresoras</h5>
                    <p class="card-text">Consultar las impresoras que tengo asignadas a mi labor</p>
                    <a asp-page="../Consultas/ConsultarImpresorasAsignadasTecnico" class="btn btn-primary" style="height:40px; width:100px;" >Ir</a>
                </div>
            </div>
        </div>
        <div class = "col-sm-6">
            <div class="card" style="height:30 %;">
                <div class="card-body">
                    <h5 class="card-title">Nueva Compra Repuesto</h5>
                    <p class="card-text">Registrar una nueva compra de repuesto para impresora</p>
                    <a asp-page="../Consultas/ConsultarImpresorasAsignadasTecnico" class="btn btn-primary" style="height:40px; width:100px;" >Ir</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="../Index" class="btn btn-primary" style="margin-top: 30px; width:200px; top: 70%;" >Cerrar Sesion</a>
    </div>
</div>