@page
@model Impresoras3D.App.Frontend.Pages.LogueoOperarioModel
@{
    ViewData["Title"] = "Operario";
}

<body style="background-color: #D9E7FC">
    <div class="text-center">
        <br>
        <h1>Operario</h1>
        <br>
        <h4>Bienvenido nuevamente @TempData["Nombre"]</h4>
        <br><br>
        <div class="row">
            <div class="col-sm-6" style="height:30%;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mis Impresoras</h5>
                        <p class="card-text">Consultar las impresoras que tengo asignadas a mi labor</p>
                        <a asp-page="../Consultas/ConsultarImpresorasAsignadasOperario" class="btn btn-primary"
                            style="height:40px; width:100px;">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="height:30 %;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Compra Seguro</h5>
                        <p class="card-text">Registrar la informacion correspondiente a la compra de un seguro de
                            impresora</p>
                        <a asp-page="../Registros/RegistrarCompraSeguro" class="btn btn-primary"
                            style="height:40px; width:100px;">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a asp-page="../Index" class="btn btn-primary" style="margin-top: 30px; width:200px; top: 70%;">Cerrar
                Sesion</a>
        </div>
    </div>
</body>
