@page
@model Impresoras3D.App.Frontend.Pages.LogueoJefeOperacionesModel
@{
    ViewData ["Title"] = "Jefe Operaciones";
}

<div class = "text-center">
    <br>
    <h1>Jefe de Operaciones</h1>
    <br>
    <h4>Bienvenido Nuevamente</h4>
    <br>

    <div class="card" style="width: 420px; height:300 px; float: left; margin-right: 10px; margin-bottom: 10px;">
        <div class="card-body">
            <h5 class="card-title">Registrar Compra Seguro</h5>
            <p class="card-text">registrar la compra de un seguro, para tener el dato de la
            fecha de compra y vencimiento.</p>
            <a asp-page="../" class="btn btn-primary" style="height:40px; width:100px;" >Ir</a>
        </div>
    </div>

</div>